input{
    width: 20rem;
}
#cvv{
    width: 8rem;
    height: 3rem;
    border:none;
}
body{
    background-image: url('https://img.freepik.com/free-vector/rupee-symbol-digital-technology-background_1017-36810.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023&semt=sph');
    background-position: fixed;
    background-repeat: none;
    background-size: cover;

}
    
.container{
    margin-top: 3rem;
    border: solid 1px;
    box-shadow: 5px 5px rgb(75, 71, 71) ;
    height: 30rem;
    width: 30rem;
    padding-bottom: 4rem;
    background-color: darkgoldenrod;


}
img{
    width: 4rem;
}
button{
    margin-top: 2.5rem;
   align-items: center;
}
span{
    color: red;
}
.form-control{
    border:none;
}
h2{
    margin-left: 9rem;
    font-size:x-large;
}