<div class="main">
 <app-user-nav></app-user-nav>
  <div class="container"> 
    <!-- <img src="https://i.pinimg.com/originals/04/c4/dd/04c4dd7ed8d90b49fd94abd59d6856dc.jpg"> -->

    <div class="row mb-3">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
     
      <div class="card-body" routerLink="/login/user/dashboard/trains">
        <div class="card-label" style="z-index: -1; text-align: center;"><b>Trains</b></div>  
        <img src="https://img.freepik.com/free-photo/train-wagons-carrying-cargo-containers-shipping-companies_342744-786.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023">       
        </div>
      </div>
    </div>    

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/user/dashboard/booking-history">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Bookings</b></div>
          <img src="https://img.freepik.com/free-vector/businessman-planning-events-deadlines-agenda_74855-6274.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023&semt=sph">
          
        </div>
      </div>
    </div>
    <br>
    
    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/user/dashboard/station">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Station Details</b></div>
          <img src="https://img.freepik.com/premium-photo/chhatrapati-shivaji-terminus_78361-983.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023&semt=sph">
          
        </div>
      </div>
    </div>
</div>
</div>
</div> 