.btn-danger{
    height: 5px;
    width:5px;
}
.container{
    margin-top: 6rem;
    padding-bottom: 20%;
    background-color: saddlebrown;
}
.card1{
    margin-top: 21rem;

}

.img-banner{
    width:3rem;
}

.card{
    border:black;
    background-color: chartreuse;
}