<div class="main">

<app-admin-navbar></app-admin-navbar>
<div class="container">
   <div class="row mb-3">
    <div class="col">
     <div class="card" style="width: 20rem; height: 20rem;">
 
  <div class="card-body" routerLink="/login/admin/dashboard/save-train">
    <div class="card-label" style="z-index: -1; text-align: center;"><b>Trains</b></div>  
    <img src="https://img.freepik.com/free-photo/woman-waiting-train-platform_53876-16105.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023&semt=ais">       
    </div>
  </div>
</div>    

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/admin/dashboard/save-seats">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Seats</b></div>
          <img src="https://img.freepik.com/free-photo/empty-brown-leather-seats-subway-brussels-belgium_181624-50018.jpg?size=338&ext=jpg&ga=GA1.2.538034476.1667547023&semt=sph">
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/admin/dashboard/report">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Customers</b></div>
          <img src="https://img.freepik.com/premium-photo/caucasian-man-travelling-by-train-using-smartphone_476952-1753.jpg?size=626&ext=jpg&ga=GA1.2.538034476.1667547023&semt=sph">
            
        </div>
      </div>
    </div>

    
      
</div>
</div>